.meals__list {
  overflow-y: scroll;
  max-height: 20rem;
}

.total-price {
  font-family: serif;
  text-align: center;
  margin: 1rem;
  font-size: 1.35rem;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions > button {
  margin: 0.5rem;
  background-color: orange;
  transition: all 0.5s;
}

.actions > button:hover {
  background-color: rgb(229, 126, 0);
}

@media (min-width: 768px) {
  .total-price {
    font-size: 1.8rem;
  }
}
