.meals-list {
  gap: 2.5rem;
  padding: 0 2rem;
}

.types {
  width: 80%;
  margin: 2rem auto 5rem;
}

.type__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.type__item {
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0.5rem;
}

.active {
  background-color: rgb(165, 217, 237);
}

@media (min-width: 768px) {
  .type__item {
    padding: 1rem;
    font-size: 1.75rem;
  }
}

@keyframes active {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: aquamarine;
  }
}
