@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");

::selection {
  background-color: skyblue;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Baskervville", serif;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.btn {
  cursor: pointer;
  font: inherit;
  border: none;
  padding: 0.35rem 1.75rem;
  border-radius: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

@media (min-width: 678px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn {
    padding: 0.5rem 3rem;
    font-size: 1.3rem;
  }
}

.centered-text {
  text-align: center;
}

.loading-error {
  color: red;
  font-size: 3rem;
}
