@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Baskervville", serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 678px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
